.rightbtn-div button{
    padding: 15px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--dark-teal);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 25px 25px 25px;
    border: none;
}
.rightbtn-div button:hover{
    background-color: var(--medium-teal);

}