.hirelanding{
    /* background: linear-gradient(140deg, #000000, var(--medium-teal)); */
    /* background-image: url('/AI agent development.png'); */
    height: 75vh;
    padding: 40px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hirelanding-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hirelanding-img{
    flex: 2;
}
.hirelanding-content{
    flex: 3;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: left;
    gap: 20px;
}
.hirelanding-content h4{
    font-size: 1.1vw;
}
.hirelanding-content h1{
    font-size: 2.75vw;
    font-weight: 600;
    /* font-size: 2.75rem; */
}
.hirelanding-content p{
    /* font-size: 1.25rem; */
    font-size: 1.1vw;
    font-weight: 400;
}
.hirelanding-btns{
    display: flex;
    gap: 30px;
}
.hirelanding-btns button{
    padding: 15px 30px;
    font-size: 1.15rem;
    font-weight: 600;
    color: #fff;
}
.hirelanding-demo-btn{
    background-color: var(--dark-teal);
    border: none;
    border-radius: 25px 25px 0 25px;
}
.hirelanding-talk-btn{
    background-color: transparent;
    border: 2px solid var(--light-teal);
    border-radius: 0 25px 25px 25px;
}

@media screen and (max-width: 1200px){
    .hirelanding-content h1{
        font-size: 2.25rem;
    }
    .hirelanding-content p{
        font-size: 1rem;
        font-weight: 400;
    }
    .hirelanding-content h4{
        font-size: 1rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px){
    .hirelanding{
        height: 650px;
        background-size: cover;
    }
    .hirelanding-container{
        display: block;
    }
    .hirelanding-img{
        display: none;
    }
    .hirelanding-content h1{
        font-size: 2.25rem;
    }
    .hirelanding-content p{
        font-size: 1rem;
        font-weight: 400;
    }
    .hirelanding-content h4{
        font-size: 1rem;
        font-weight: 400;
    }
}