.mf-div{
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 40px 20px;
}
.mf-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mf-container h1{
    color:#fff;
}
.mf-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.mf-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-left: 1px solid #fff;
    padding-left: 80px;
}
.mf-item h1{
    font-size: 24px;
    font-weight: 600;
}
.mf-item ul{
    list-style:square;
    
}