@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* font-family: "Inter", sans-serif; */
  font-family: "Montserrat", sans-serif;
  --light-green: #6CAF45;
  --dark-green: #3b732d;
  --primary-orange: #f9bc40;
  --secondary-orange: #fbd17d;
  --light-teal: #7fb099;
  --medium-teal: #3d8865;
  --dark-teal: #005f3a;
  --primary-grey: #232323;
  --secondary-grey: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

.text-green {
  color: var(--medium-teal);
}.text-grey {
  color: var(--primary-grey);
}
.text-bold {
  font-weight: 600;
}